{% extends 'base.html' %}
{% load static %}

{% block title_app %}
    {{page_title}}
{% endblock title_app %}

{% block content %}
    <div class="box-header">
        <h3 class="box-title">Data Supplier</h3>
        <div class="pull-right">
            <button type="button" class="btn btn-primary js-create-supplier" data-url="{% url 'supplier:create' %}">
                <span class="fa fa-plus-circle"></span> Tambah
            </button>
        </div>
    </div>
    <div class="box-body table-responsive">
        <table class="table table-bordered table-striped" id="table-supplier">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nama</th>
                    <th>Telp</th>
                    <th>Alamat</th>
                    <th>Deskripsi</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% include 'supplier/supplier_manage_list.html' %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="modal-supplier">
        <div class="modal-dialog">
            <div class="modal-content">

            </div>
        </div>
    </div>
{% endblock content %}


{% block javascripts %}
    <script src="{% static 'js/supplier/supplier.js' %}"></script>
{% endblock javascripts %}
    